body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial;
}
section {
  margin-top: 20px;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 32px;
}
p {
  font-size: 16px;
  color: grey;
  text-align: justify;
}
.header {
  background-color: black;
  height: 40px;
  color: white;
  padding: 10px;
  text-align: center;
}
.menu ul {
  list-style-type: none;
}
.menu ul li {
  float: left;
  margin-right: 30px;
}
.half-width {
  width: 48%;
  float: left;
}
.half-width img {
  width: 100%;
}
.text-orange {
  color: orange;
}
.main-button {
  padding: 10px 20px;
  background-image: linear-gradient(to right, orange, tomato);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
}
.order-area {
  height: 50vh;
}
.about-me-area {
  background-image: url("images/shapes/7.png");
  background-repeat: no-repeat;
  height: 100vh;
}
.about-me-area img {
  height: 600px;
  width: 100%;
}
.center {
  margin-left: 10px;
  margin-top: 150px;
}
.recipe-area {
  height: 100vh;
}
.recipes {
  text-align: center;
}
.recipes-text p {
  width: 60%;
  margin-left: 200px;
}
.card {
  width: 28%;
  float: left;
  margin: 15px;
  border-radius: 20px;
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.card img {
  width: 100%;
  border: none;
  border-radius: 20px;
}
.subscriber {
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
  height: 150px;
}
footer {
  text-align: center;
  background: black;
  padding: 30px 30px;
  margin-top: 100px;
  color: white;
}
footer p {
  text-align: center;
  font-size: 12px;
}
